body {
  font-family: sans-serif;
  background-color: lightgray; 
}

button {
  margin: 10px 10px;
  border-radius: 5%;
  font-size: 20px;
}

input {
  margin: 0;
  padding: 1px;
  font-size: 20px;
  margin-top: 10px;
  width: 90%;
}

textarea {
  height: 200px;
  max-width: 450px;
}

.form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}